@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        Pagina de Inicio (Testing).
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Firma_TEC.svg/1280px-Firma_TEC.svg.png" alt="HOME IMAGEN0" width="100" height="200">
    </div>

</main>